<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="slab.haqq"
    android:installLocation="preferExternal"
    android:versionCode="1"
    android:versionName="1.1.91" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:requiresSmallestWidthDp="480"
        android:smallScreens="false"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_haqq_rev"
        android:label="@string/app_name"
        android:theme="@style/Theme.Haqq.Light" >

        <!-- Main Activity -->
        <activity
            android:name="slab.haqq.HaqqMain"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <!-- Splash -->
        <activity
            android:name="slab.haqq.SplashHaqq"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="slab.haqq.AyaList"
            android:label="@string/title_activity_aya_list" >
        </activity>
        <activity
            android:name="slab.haqq.ReadAya"
            android:label="@string/title_activity_read_aya" >
        </activity>
        <activity
            android:name="slab.haqq.GotoAyaActivity"
            android:label="@string/title_activity_goto_aya" >
        </activity>
        <activity
            android:name="slab.haqq.PlayRecord"
            android:label="@string/title_activity_play_record" >
        </activity>
        <activity
            android:name="slab.haqq.ResultDetail"
            android:label="@string/title_activity_result_detail" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="slab.haqq.HaqqMain" />
        </activity>
        <activity
            android:name="slab.haqq.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>

        <service android:name="slab.haqq.service.DefaultEvaluationService" >
        </service>
        <service android:name="slab.haqq.service.FullEvaluationService" >
        </service>

        <activity
            android:name="slab.haqq.ASettingsActivity"
            android:label="@string/title_activity_asettings" >
        </activity>
    </application>

</manifest>
